.details-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
}

.overlay {
  width: 60%;
  height: 80%;
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.375);
  box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.img-poster {
  margin: 10px 10px 10px 15px;
  border-radius: 25px;
}

.details-right {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 90px;
}

.div-detalis-film {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.additional-info {
  margin-top: 20px;
}

.div-additional-info {
  margin-left: 90px;
  margin-top: 20px;
  position: relative;
}

.h2-additional-info {
  margin-bottom: 10px;
}

.button-cast {
  height: fit-content;
  display: block;
}

.button-reviews {
  height: fit-content;
  display: block;
}

.ul-actors {
  display: flex;
  margin-top: 20px;
  list-style-type: none;
  gap: 10px;
  flex-flow: wrap;
}

.ul-actors-p {
  width: 200px;
}

.ul-all-reviews {
  margin-right: 90px;
}
