@keyframes gradient-border-animation {
  0% {
    border-image-slice: 1;
  }
  100% {
    border-image-slice: 0.5;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px;
  margin: 20px 70px 0px 70px;

  background: rgba(19, 19, 19, 0.375);
  border: 3px solid transparent;
  border-image: linear-gradient(
    to right,
    blue,
    pink,
    rgb(60, 13, 228),
    #015eff,
    #051857,
    #21ffff,
    rgb(44, 90, 255),
    rgb(235, 72, 224),
    rgb(173, 41, 255)
  );
  border-image-slice: 1;
  animation: gradient-border-animation 5s ease infinite;
}

.header-ul {
  display: flex;
}

.go-back-link {
  text-decoration: none;
  color: white;
  margin-right: 18px;
}

.nav-link {
  font-size: 20px;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  font-weight: 700;
}

@media screen and (max-width: 769px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 20px 20px 0px 20px;
    background: rgba(19, 19, 19, 0.375);
    border: 3px solid transparent;
    border-image: linear-gradient(
      to right,
      blue,
      pink,
      rgb(60, 13, 228),
      #015eff,
      #051857,
      #21ffff,
      rgb(44, 90, 255),
      rgb(235, 72, 224),
      rgb(173, 41, 255)
    );
    border-image-slice: 1;
    animation: gradient-border-animation 5s ease infinite;
  }

  .header-ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0;
  }

  .nav-link {
    font-size: 15px;
    text-decoration: none;
    color: white;
    padding: 0px;
    margin: 0px;
    font-weight: 700;
  }
}

@media screen and (min-width: 460px) and (max-width: 769px) {
  .go-back-link {
    text-decoration: none;
    color: white;
    margin-right: 18px;
    width: 100%;
  }
}
